
body {
    background-image: url('https://assets.materialup.com/uploads/056f06fc-4ddb-4ae8-9ff1-ee446b263c62/preview.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}
h1 {
    color: rgb(105, 15, 233);
}
#submitBtn {
    background-color: rgb(60, 0, 255);
    height: 40px;
    width: 100%;
}
#submitBUTTON{
    padding-top: 5px;
}
.card{
    border: 4px solid rgb(105, 7, 233);
}
